.form {
    background:
        linear-gradient(63deg, #1e7f96 23%, transparent 23%) 7px 0,
        linear-gradient(63deg, transparent 74%, #1e7f96 78%),
        linear-gradient(63deg, transparent 34%, #1e7f96 38%, #1e7f96 58%, transparent 62%),
        #014150;
    background-size: 16px 48px;
}